
<div class="ui grid" style="margin: 10em 5em 0 5em">
    <div class="row">
        <div class="column" style="width:20%">
            <img class="ui medium circular image" src="./assets/farid.JPG" alt="farid">
            <br>
            <p style="text-align:center">Farid ullah</p>    
        </div>

        <div class="column" style="width:30%; vertical-align:center">
            <div>
                <p >I am an ardent and determined person who is always keen to learn new things i.e. technologies and to
                    improve skills. I’m currently looking for an organization which supports creativity and provides a decent
                    learning environment.
                </p>    
            </div>
        </div>
    </div>
</div>
<div class="ui vertical divider">Other Member Info</div>
